@font-face {
  font-family: "Dream";
  src: url(../font/CaviarDreams.ttf);
}
:root {
  --blue: #5E72B6;
  --light-pink: #FCEAEC;
}

body {
  background-color: var(--light-pink);
  width: 100vw;
  height: 100vh;
  margin: 0;
}
body .container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 414px) {
  body .container {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
}
body .container .header {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  align-content: center;
  height: 12%;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.7176470588);
}
@media (max-width: 414px) {
  body .container .header {
    height: 12%;
  }
}
body .container .header ul {
  left: 0;
  display: flex;
  margin-left: 0%;
  list-style: none;
  position: absolute;
  width: 80%;
  align-content: center;
  justify-content: center;
  margin-top: 2%;
  font-family: "Dream";
}
@media (max-width: 1300px) {
  body .container .header ul {
    margin-top: 3%;
  }
}
@media (max-width: 720px) {
  body .container .header ul {
    left: 0;
    margin-left: -3%;
    width: 80%;
    margin-top: 3%;
    font-size: 1.2rem;
  }
}
@media (max-width: 414px) {
  body .container .header ul {
    width: 100%;
    margin-top: 8%;
    padding-left: 0%;
    font-size: 1.2rem;
  }
}
body .container .header ul li .menu {
  padding: 1rem;
  text-decoration: none;
  color: var(--blue);
  border-bottom: 4px solid transparent;
  transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease, color 0.2s;
}
@media (max-width: 414px) {
  body .container .header ul li .menu {
    margin: 0rem 0.9rem 0rem 0rem;
    padding: 0%;
  }
}
body .container .header ul li a:hover {
  border-bottom-color: var(--light-pink);
}
body .container .header ul .logo {
  width: 30%;
}
body .container .header ul .logo img {
  width: 30%;
  margin-top: -6%;
  margin-left: 68%;
  transition: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 720px) {
  body .container .header ul .logo img {
    margin-top: -3%;
  }
}
@media (max-width: 414px) {
  body .container .header ul .logo img {
    width: 60%;
    margin-top: -9%;
    margin-bottom: 0%;
    margin-left: 30%;
    padding-right: -30%;
  }
}
body .container section {
  scroll-snap-align: start;
}
body .container section:nth-child(2) {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 100% 100% 100%;
  justify-content: center;
}
@media (max-width: 960px) {
  body .container section:nth-child(2) {
    grid-template-columns: 30% 40% 30%;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(2) {
    grid-template-columns: 35% 30% 35%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(2) {
    height: 800px;
    display: inherit;
  }
}
body .container section:nth-child(2) .up {
  width: 115%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 720px) {
  body .container section:nth-child(2) .up {
    width: 130%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(2) .up {
    width: 100%;
    margin-left: 0%;
  }
}
body .container section:nth-child(2) .down {
  padding-top: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1300px) {
  body .container section:nth-child(2) .down {
    padding-top: 35rem;
  }
}
@media (max-width: 960px) {
  body .container section:nth-child(2) .down {
    padding-top: 24rem;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(2) .down {
    width: 150%;
    margin-left: -50%;
    padding-top: 115%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(2) .down {
    display: none;
  }
}
body .container section:nth-child(2) .title {
  align-content: center;
  font-family: "Dream";
  text-align: center;
  color: var(--blue);
  padding-top: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1300px) {
  body .container section:nth-child(2) .title {
    padding-top: 100%;
  }
}
@media (max-width: 960px) {
  body .container section:nth-child(2) .title {
    padding-top: 15rem;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(2) .title {
    margin-top: 0%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(2) .title {
    padding-top: 30%;
  }
}
body .container section:nth-child(2) .title > h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
@media (max-width: 960px) {
  body .container section:nth-child(2) .title > h1 {
    font-size: 2rem;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(2) .title > h1 {
    font-size: 1.5rem;
  }
}
body .container section:nth-child(2) .title > p {
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (max-width: 960px) {
  body .container section:nth-child(2) .title > p {
    font-size: 1rem;
  }
}
body .container section:nth-child(3) {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-pink);
  display: grid;
  grid-template-columns: 2.5% 45% 45% 5%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  align-content: center;
}
@media (max-width: 414px) {
  body .container section:nth-child(3) {
    width: 100wv;
    height: 1100px;
    background-color: var(--light-pink);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
body .container section:nth-child(3) .presentation {
  padding-top: 25%;
  text-align: center;
  height: 40%;
  color: var(--blue);
  font-family: "Dream";
  font-size: 1rem;
}
@media (max-width: 960px) {
  body .container section:nth-child(3) .presentation {
    padding-top: 15%;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(3) .presentation {
    font-size: 0.9rem;
    padding-top: 30%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(3) .presentation {
    font-size: 0.9rem;
    padding-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
body .container section:nth-child(3) .programationLearning {
  /* border: 4px double white; */
  margin-top: 5%;
  background-color: white;
  margin-left: 15%;
  margin-right: 5%;
  padding: 5%;
  border-radius: 20px;
  padding-bottom: 15%;
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 3%;
  color: var(--blue);
  text-align: center;
}
@media (max-width: 960px) {
  body .container section:nth-child(3) .programationLearning {
    padding-top: 1%;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(3) .programationLearning {
    margin-top: 20%;
    padding-top: 0%;
    margin-left: 10%;
    margin-right: 2%;
    padding-bottom: 20%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(3) .programationLearning {
    margin-top: 10%;
    padding-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20%;
  }
}
body .container section:nth-child(3) .programationLearning h3 {
  font-family: "Dream";
}
body .container section:nth-child(3) .programationLearning p {
  font-size: 1.5rem;
}
body .container section:nth-child(3) .programationLearning .front-end-img {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
body .container section:nth-child(3) .programationLearning .front-end-img img {
  width: 7%;
  height: 10%;
}
@media (max-width: 720px) {
  body .container section:nth-child(3) .programationLearning .front-end-img img {
    width: 10%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(3) .programationLearning .front-end-img img {
    width: 8%;
  }
}
body .container section:nth-child(3) .programationLearning .design-img {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
body .container section:nth-child(3) .programationLearning .design-img img {
  width: 7%;
  height: 10%;
}
@media (max-width: 720px) {
  body .container section:nth-child(3) .programationLearning .design-img img {
    width: 10%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(3) .programationLearning .design-img img {
    width: 8%;
  }
}
body .container section:nth-child(3) .programationLearning .back-end-img {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
body .container section:nth-child(3) .programationLearning .back-end-img img {
  width: 10%;
  height: 10%;
}
@media (max-width: 720px) {
  body .container section:nth-child(3) .programationLearning .back-end-img img {
    width: 18%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(3) .programationLearning .back-end-img img {
    width: 13%;
  }
}
body .container section:nth-child(3) .programationLearning .cms-img {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
body .container section:nth-child(3) .programationLearning .cms-img img {
  width: 10%;
  height: 10%;
}
@media (max-width: 768px) {
  body .container section:nth-child(3) .programationLearning .cms-img img {
    width: 12%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(3) .programationLearning .cms-img img {
    width: 10%;
  }
}
body .container section:nth-child(4) {
  width: 100vw;
  height: 100vh;
}
@media (max-width: 414px) {
  body .container section:nth-child(4) {
    height: 700px;
  }
}
body .container section:nth-child(4) .thirdPage {
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  justify-content: center;
}
body .container section:nth-child(4) .thirdPage .title h3 {
  margin-top: 10%;
  text-align: center;
  font-size: 2rem;
  font-family: "Dream";
  color: var(--light-pink);
}
@media (max-width: 720px) {
  body .container section:nth-child(4) .thirdPage .title h3 {
    font-size: 1.7rem;
    margin-top: 13%;
  }
}
body .container section:nth-child(4) .thirdPage .carousel {
  width: 100%;
  height: 100%;
  margin-left: 23%;
}
@media (max-width: 720px) {
  body .container section:nth-child(4) .thirdPage .carousel {
    width: 100%;
    margin-left: 15%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(4) .thirdPage .carousel {
    margin-left: 5%;
  }
}
body .container section:nth-child(4) .thirdPage .carousel__item,
body .container section:nth-child(4) .thirdPage .carousel__item--hidden {
  display: none;
  width: 100%;
}
body .container section:nth-child(4) .thirdPage .carousel__item--visible {
  display: block;
  -webkit-animation: fadeVisibility 0.5s;
          animation: fadeVisibility 0.5s;
}
@media (max-width: 414px) {
  body .container section:nth-child(4) .thirdPage .carousel__item--visible {
    -webkit-animation: none;
            animation: none;
  }
}
@-webkit-keyframes fadeVisibility {
  100% {
    opacity: 1;
    transform: opacity ease-in-out;
  }
}
@keyframes fadeVisibility {
  100% {
    opacity: 1;
    transform: opacity ease-in-out;
  }
}
body .container section:nth-child(4) .thirdPage .item {
  width: 55%;
  background-color: var(--light-pink);
  box-shadow: 0 15px 20px rgba(50, 50, 50, 0.1019607843), 0 5px 15px rgba(0, 0, 0, 0.1019607843);
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
  border-radius: 20px;
}
@media (max-width: 720px) {
  body .container section:nth-child(4) .thirdPage .item {
    width: 70%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(4) .thirdPage .item {
    width: 90%;
  }
}
body .container section:nth-child(4) .thirdPage .item:hover {
  transform: translate3d(0, -10px, 0);
}
body .container section:nth-child(4) .thirdPage .item img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
body .container section:nth-child(4) .thirdPage .projects-desc {
  padding: 5%;
  color: var(--blue);
  font-family: "Dream";
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
}
body .container section:nth-child(4) .thirdPage .carousel__action {
  display: flex;
  width: 55%;
  height: 20%;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 100;
  padding-bottom: 3%;
}
@media (max-width: 720px) {
  body .container section:nth-child(4) .thirdPage .carousel__action {
    width: 70%;
    padding-bottom: 8%;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(4) .thirdPage .carousel__action {
    width: 90%;
  }
}
body .container section:nth-child(4) .thirdPage .carousel__action button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  background-color: var(--blue);
  color: var(--light-pink);
  cursor: pointer;
  width: 40px;
  height: 40px;
}
body .container section:nth-child(4) .thirdPage .carousel__action #carousel-prev {
  margin-left: 2%;
}
body .container section:nth-child(4) .thirdPage .carousel__action #carousel-next {
  margin-right: 2%;
}
body .container section:nth-child(5) {
  background-image: url("../img/background/background.png");
  background-size: 95%;
  background-repeat: no-repeat;
  background-color: var(--light-pink);
}
@media (max-width: 1300px) {
  body .container section:nth-child(5) {
    background-size: 100%;
  }
}
@media (max-width: 960px) {
  body .container section:nth-child(5) {
    background-size: 95%;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(5) {
    background-image: none;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(5) {
    background-image: none;
  }
}
body .container section:nth-child(5) .container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 414px) {
  body .container section:nth-child(5) .container {
    height: 700px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10%;
  }
}
body .container section:nth-child(5) .container .cVitae h3 {
  color: var(--light-pink);
  margin-bottom: 10%;
  font-size: 1.5rem;
  font-family: "Dream";
}
@media (max-width: 720px) {
  body .container section:nth-child(5) .container .cVitae h3 {
    color: var(--blue);
    font-size: 1.2rem;
    margin-top: -30%;
  }
}
body .container section:nth-child(5) .container .cVitae a {
  background-color: var(--light-pink);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 4% 7% 4% 7%;
  border-radius: 60px;
  color: var(--blue);
  font-family: "Dream";
  opacity: 50%;
  transition: opacity ease 0.3s;
}
@media (max-width: 960px) {
  body .container section:nth-child(5) .container .cVitae a {
    padding: 3% 5% 3% 5%;
  }
}
@media (max-width: 720px) {
  body .container section:nth-child(5) .container .cVitae a {
    background-color: var(--blue);
    color: var(--light-pink);
    font-size: 1.2rem;
  }
}
@media (max-width: 414px) {
  body .container section:nth-child(5) .container .cVitae a {
    opacity: 100%;
    transition: none;
  }
}
body .container section:nth-child(5) .container .cVitae a:hover {
  opacity: 100%;
}
body .container section:nth-child(5) .container .contact h3 {
  color: var(--blue);
  font-family: "Dream";
  font-size: 1.5rem;
  margin-bottom: 8%;
}
@media (max-width: 720px) {
  body .container section:nth-child(5) .container .contact h3 {
    font-size: 1.2rem;
  }
}
body .container section:nth-child(5) .container .contact h3 .linkContact div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
body .container section:nth-child(5) .container .contact h3 .linkContact div a {
  width: 10%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  transition: transform 0.3s;
}
@media (max-width: 720px) {
  body .container section:nth-child(5) .container .contact h3 .linkContact div a {
    width: 30%;
  }
}
body .container .footer {
  left: 0;
  margin-top: -4%;
  padding-top: -10%;
  width: 100%;
  color: var(--blue);
  font-size: x-large;
  text-align: center;
  font-family: "Dream";
}
@media (max-width: 720px) {
  body .container .footer {
    margin-top: -10%;
    padding-top: 0;
  }
}
@media (max-width: 414px) {
  body .container .footer {
    opacity: 100%;
    flex-shrink: 0;
    margin-top: -20%;
  }
}/*# sourceMappingURL=style.css.map */